<div class="container">
  <div class="row">
      <div class="col-md-6 mx-auto">
          <div class="card card-body text-center mt-5" style="background-color: aliceblue">
              <h1 class="heading display-5 pb-3">Calculateur de prêt</h1>
              <form id="loan-form">
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon">$</span>
                          <input type="number" class="form-control" id="montant" placeholder="Montant du prêt">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon">%</span>
                          <input type="number" class="form-control" id="interet" placeholder="Interêt du prêt">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <input type="number" class="form-control" id="nbAnnees" placeholder="Nombre d'années à payer(1,2,3..)">
                      </div>
                  </div>
                  <div class="form-group">
                      <input type="submit" value="Calculer" class="btn btn-dark btn-block">
                  </div>
              </form>

              <div id="resulats" class="pt-4">
                  <h5>Resultats</h5>
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon">Paiement Mensuel</span>
                          <input type="number" class="form-control" id="PaiementMens">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon">Paiement total</span>
                          <input type="number" class="form-control" id="PaiementTotal">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon">Interêt total </span>
                          <input type="number" class="form-control" id="interetTotal">
                      </div>
                  </div>
              </div>
            </div>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
