<div class="container">
  <div class="row">
      <div class="col-md-6 mx-auto">
          <div class="alert alert-danger" *ngIf="message">
              <strong>oups!</strong> nombre incorrect.
            </div>
          <div class="card card-body text-center mt-5" style="background-color: aliceblue">
              <h1 class="heading display-5 pb-3">Calculateur </h1>
              <form  name="form"  #f="ngForm" (ngSubmit)=" sendFeedback()" novalidate id="loan-form">
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-text">$</span>
                          <input type="number" class="form-control" id="montant"  [(ngModel)]="model.montant" placeholder="Montant du prêt"  [ngModelOptions]="{standalone: true}"required/>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-text">%</span>
                          <input type="number" class="form-control" id="interet" [(ngModel)]="model.interet" placeholder="Interêt du prêt" [ngModelOptions]="{standalone: true}">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <input type="number" class="form-control" id="nbAnnees" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.nbAnnees" placeholder="Nombre d'années à payer(1,2,3..)">
                      </div>
                  </div>
                  <div class="form-group">
                      <input type="submit" value="Calculer" class="btn btn-dark btn-block">
                  </div>
              </form>

              <div id="resulats" class="pt-4">
                  <h5>Resultats</h5>
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-text">Paiement Mensuel</span>
                          <input type="number" class="form-control" id="PaiementMens" [(ngModel)]="resultat.PaiementMens">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-text">Paiement total</span>
                          <input type="number" class="form-control" id="PaiementTotal" [(ngModel)]="resultat.paiementTotal">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-text">Interêt total </span>
                          <input type="number" class="form-control" id="interetTotal"  [(ngModel)]="resultat.totalInteret" >
                      </div>
                  </div>
              </div>
            </div>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
